.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  animation: up 1s ease;
  user-select: none;
}
.backDark {
  background-color: #282c34;
  color: white;
}
.backLight {
  background-color: white;
  color: black;
}

@keyframes up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profileDetail {
}
.profileCon {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: -60%;
}
.profileTable {
  padding: 3vw;
  border-radius: 15px;
  width: max-content;
  transition: 0.1s ease;
}

.gradesTable {
  border-collapse: collapse;
  width: 45vw;
  line-height: 7vh;
  margin: 2vh 0vw 2vh 0vw;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(59, 59, 59, 0.5);
}
.gradesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  margin: 1vh 0 5vh 0;
}

.gradesTitle {
  text-align: center;
  font-size: 3vmin;
}
.gradesTitle2 {
  font-size: 2.5vmin;
}
.gradesLine {
  font-size: 3vmin;
}
.gradesContribution {
}
.gradesExam {
  width: 45%;
}
.gradesValue {
}
.gradesAv {
}
.perfectAv {
  color: green;
}
.goodAv {
  color: blue;
}
.normalAv {
  color: yellow;
}
.endAv {
  color: orange;
}
.badAv {
  color: red;
}
.reload {
  width: 10vmin;
  height: 10vmin;
  border-radius: 0 0 50% 50%;
  cursor: pointer;
  border: 5px solid white;
  margin: 2vmin 3vmin 1vmin auto;
  transition: 0.5s ease;
  position: absolute;
  right: 15.5%;
}
.isNew {
  background-color: rgb(104, 234, 67);
}
.isNotNew {
  background-color: rgb(255, 81, 0);
  transform: translateY(50%);
}

.reload:hover {
  transform: translateY(50%);
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
}
.reload:active {
  transform: translateY(50%);
}
.account {
  width: 10vmin;
  height: 10vmin;
  border-radius: 0 0 50% 50%;
  cursor: pointer;
  border: 5px solid white;
  margin: 2vmin 3vmin 1vmin auto;
  transition: 0.1s ease;
  background-color: rgb(6, 6, 106);
  position: absolute;
  right: 7.5%;
}
.account:hover {
  transform: translateY(30%);
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
}
.account:active {
  transform: translateY(40%);
}

.settingsButton {
  width: 10vmin;
  height: 10vmin;
  margin: 2vmin 1vmin 1vmin 3vmin;
  transition: 0.2s ease;
  border-radius: 0 0 50% 50%;
  transition: 0.1s ease;
  cursor: pointer;
  border: 5px solid white;
  background-color: rgb(53, 48, 48);
  position: absolute;
  right: 1%;
}
.settingsButton:hover {
  transform: translateY(30%);
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
}
.settingsButton:active {
  transform: translateY(40%);
}
.topBar {
  top: -8%;
  position: fixed;
  display: flex;
}

.settingsCon {
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings {
  width: 80vw;
  height: 80vh;
  border-radius: 15px;
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
}
.buttonCon {
  position: relative;
  width: 100vw;
}

.setTitle {
  font-size: 5vmin;
  text-align: left;
  padding: 2vh 0 2vh 3vw;
  border-bottom: 1px solid white;
}
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin 5vmin 2vmin 7vmin;
  margin: 1vh 0 1vh 0;
}

.settingToggleButton {
  width: 7vw;
  height: 4vh;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.toggleLight {
  border: 2px solid #282c34;
}
.toggleLight:hover {
  box-shadow: 0px 0px 7px #282c34;
}
.toggleDark {
  border: 2px solid white;
}
.toggleDark:hover {
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
}

.settingButton {
  width: 4vw;
  height: 4vh;
  background-color: red;
  border-radius: 5px;
  transition: 0.1s ease;
  font-size: 2vmin;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settingButton:hover {
  /* width: 5vw; */
  box-shadow: 0px 0px 7px rgb(255, 0, 0);
}
.settingButton:active {
  transition: 0s ease;
  border: 2px solid white;
}

.toggleActive {
  width: 2.5vmin;
  height: 2.5vmin;
  margin: 0 10% 0 auto;
  border-radius: 50%;
  transition: 0.3s ease;
  /* transform: translateX(-220%); */
  animation: deactiveToActive 0.2s ease;
}
/* .toggleActive:hover {
  width: 4vmin;
  height: 4vmin;
  margin: 0 0% 0 auto;
} */
.toggleDeactive {
  width: 2.5vmin;
  height: 2.5vmin;
  margin: 0 auto 0 10%;
  border-radius: 50%;
  transition: 0.3s ease;
  /* transform: translateX(220%); */
  animation: activeToDeactive 0.2s ease;
}

/* .toggleDeactive:hover {
  width: 4vmin;
  height: 4vmin;
  margin: 0 auto 0 0%;
} */

@keyframes activeToDeactive {
  0% {
    transform: translateX(220%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes deactiveToActive {
  0% {
    transform: translateX(-220%);
  }
  100% {
    transform: translateX(0%);
  }
}
